*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #9159c1;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: "header header"  /*linha 1: coluna1  coluna2*/
                         "main aside"     /*linha 2: coluna1  coluna2*/
                         "footer footer"; /*linha 3: coluna1  coluna2*/
}

header{
    background-color: yellow;
    grid-area: header;
}

main{
    background-color: blue;
    grid-area: main;
}

aside{
    background-color: green;
    grid-area: aside;
}

footer{
    background-color: red;
    grid-area: footer;
}